In [1]:
import pandas as pd

In [2]:
df_pre_process = pd.read_excel(r'D:\Jaivinayaka\pre_processes.xlsx')

In [4]:
df_int_columns=cleaned_income_data[['weeks_worked_in_year', 'business_or_self_employed', 'age', 'dividend_from_Stocks','year', 'wage_per_hour',
 'capital_losses',
 'num_person_Worked_employer',
 'capital_gains',
 'veterans_benefits',
 'income_level']]

df_pre_processed=pd.concat([df_int_columns,df_pre_process],axis=1)

In [3]:
# import pandas as pd
cleaned_income_data=pd.read_excel(r'D:\Jaivinayaka\misslenious\income_data.xlsx',index_col=0)
# cleaned_income_data.head()

In [5]:
df_pre_processed.shape

(199523, 124)

In [6]:
cleaned_income_data.shape

(199523, 41)

excel data with name of income_data_num

In [7]:
df_pre_processed.to_excel(r'D:\Jaivinayaka\misslenious\income_data_num.xlsx')

In [9]:
df_pre_processed.head()

,weeks_worked_in_year,business_or_self_employed,age,dividend_from_Stocks,year,wage_per_hour,capital_losses,num_person_Worked_employer,capital_gains,veterans_benefits,...,family_members_under_18_Father only present,family_members_under_18_Mother only present,family_members_under_18_Neither parent present,family_members_under_18_Not in universe,citizenship_Foreign born- U S citizen by naturalization,citizenship_Native- Born abroad of American Parent(s),citizenship_Native- Born in Puerto Rico or U S Outlying,citizenship_Native- Born in the United States,fill_questionnaire_veteran_admin_Not in universe,fill_questionnaire_veteran_admin_Yes
0,0,0,73,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,1,1,0
1,52,0,58,0,94,0,0,1,0,2,...,0,0,0,1,0,0,0,1,1,0
2,0,0,18,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,0,1,0
3,0,0,9,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,10,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [14]:
X=df_pre_processed.drop('income_level',axis=1)

In [16]:
y=df_pre_processed['income_level']

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=41)

random_forest_classifier with out feature importance

In [22]:
rfc=RandomForestClassifier(n_estimators=100,criterion='gini')

In [23]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [24]:
y_pred=rfc.predict(X_test)

In [25]:
from sklearn.metrics import roc_auc_score

In [26]:
roc_auc_score(y_test,y_pred)

0.6815170378871128

feature_importance_selection using random_forest

In [27]:
feature_importance=pd.DataFrame(rfc.feature_importances_,index=X_train.columns,columns=['importance']).sort_values('importance',ascending=False)

In [30]:
feature_importance.head(25)

                                                   importance
Unnamed: 0                                           0.120703
age                                                  0.110218
dividend_from_Stocks                                 0.081580
capital_gains                                        0.073536
education                                            0.055920
major_occupation_code                                0.048167
num_person_Worked_employer                           0.048026
weeks_worked_in_year                                 0.034057
occupation_code                                      0.027818
major_industry_code                                  0.025371
industry_code                                        0.025290
sex_Male                                             0.019985
capital_losses                                       0.019069
0                                                    0.018985
business_or_self_employed                            0.016078
country_father                                       0.013233
country_mother                                       0.013124
member_of_labor_union_Not in universe                0.011738
Private                                              0.010902
d_household_summary_Householder                      0.010796
d_household_family_stat                              0.009056
marital_status_Never married                         0.008572
wage_per_hour                                        0.008521
tax_filer_status_Joint both under 65                 0.008312
full_parttime_employment_stat_Full-time schedules    0.008217

In [33]:
df_freture_imp=df_pre_processed[['weeks_worked_in_year','marital_status_Never married',
                               'business_or_self_employed',
                                                     'age',
                                    'dividend_from_Stocks',
                                           'wage_per_hour',
                                          'capital_losses',
                              'num_person_Worked_employer',
                                           'capital_gains',
                                              'Unnamed: 0',
                                                 'Private',
                                               'education',
                                   'major_occupation_code',
                                     'major_industry_code',
                                          'country_father',
                                          'country_mother',
                                 'd_household_family_stat',
                                           'industry_code',
                                         'occupation_code',
                                                         0,
          'marital_status_Married-civilian spouse present',
                                                'sex_Male',
                   'member_of_labor_union_Not in universe',
                    'tax_filer_status_Joint both under 65',
       'full_parttime_employment_stat_Full-time schedules',
                         'd_household_summary_Householder']]

roc_auc on all the features

In [34]:
X_imp=df_freture_imp

In [37]:
X_imp.head()

,weeks_worked_in_year,marital_status_Never married,business_or_self_employed,age,dividend_from_Stocks,wage_per_hour,capital_losses,num_person_Worked_employer,capital_gains,Unnamed: 0,...,d_household_family_stat,industry_code,occupation_code,0,marital_status_Married-civilian spouse present,sex_Male,member_of_labor_union_Not in universe,tax_filer_status_Joint both under 65,full_parttime_employment_stat_Full-time schedules,d_household_summary_Householder
0,0,0,0,73,0,0,0,0,0,0,...,0,-1,-1,0,0,0,1,0,0,0
1,52,0,0,58,0,0,0,1,0,1,...,1,0,0,1,0,1,1,0,0,1
2,0,1,0,18,0,0,0,0,0,2,...,-1,-1,-1,0,0,0,1,0,0,0
3,0,1,0,9,0,0,0,0,0,3,...,-1,-1,-1,0,0,0,1,0,0,0
4,0,1,0,10,0,0,0,0,0,4,...,-1,-1,-1,0,0,0,1,0,0,0

In [35]:
y_imp=df_pre_processed['income_level']

In [38]:
y_imp.head()

0   -50000
1   -50000
2   -50000
3   -50000
4   -50000
Name: income_level, dtype: int64

In [39]:
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp,y_imp,test_size=0.3,random_state=101)

In [42]:
rfc1=RandomForestClassifier(n_estimators=100)

In [43]:
rfc1.fit(X1_train,y1_train)

RandomForestClassifier()

In [51]:
y1_pred=rfc1.predict(X1_test)

In [52]:
roc_auc_score(y1_test,y1_pred)

0.6929189277141993

In [55]:
X_imp_5=df_freture_imp.iloc[:,0:6]

In [56]:
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp_5,y_imp,test_size=0.3,random_state=101)

In [57]:
rfc2=RandomForestClassifier(n_estimators=100)
rfc2.fit(X1_train,y1_train)
y1_pred=rfc2.predict(X1_test)
roc_auc_score(y1_test,y1_pred)

0.5786185064727878

In [58]:
X_imp_6=df_freture_imp.iloc[:,0:11]
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp_6,y_imp,test_size=0.3,random_state=101)
rfc3=RandomForestClassifier(n_estimators=100)
rfc3.fit(X1_train,y1_train)
y1_pred=rfc3.predict(X1_test)
roc_auc_score(y1_test,y1_pred)

0.6400232861518198

In [59]:
X_imp_7=df_freture_imp.iloc[:,0:16]
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp_7,y_imp,test_size=0.3,random_state=101)
rfc4=RandomForestClassifier(n_estimators=100)
rfc4.fit(X1_train,y1_train)
y1_pred=rfc4.predict(X1_test)
roc_auc_score(y1_test,y1_pred)

0.6760573678573852

In [60]:
X_imp_8=df_freture_imp.iloc[:,0:21]
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp_8,y_imp,test_size=0.3,random_state=101)
rfc5=RandomForestClassifier(n_estimators=100)
rfc5.fit(X1_train,y1_train)
y1_pred=rfc5.predict(X1_test)
roc_auc_score(y1_test,y1_pred)

0.6944582605288917

In [63]:
X_imp_9=df_freture_imp.iloc[:,0:27]
X1_train,X1_test,y1_train,y1_test=train_test_split(X_imp_9,y_imp,test_size=0.3,random_state=101)
rfc6=RandomForestClassifier(n_estimators=100)
rfc6.fit(X1_train,y1_train)
y1_pred=rfc6.predict(X1_test)
roc_auc_score(y1_test,y1_pred)

0.6943934351225802

In [114]:
# feature_selection=SelectFromModel(RandomForestClassifier(n_estimators=100))

In [64]:
# feature_selection.fit(X_train,y_train)

In [49]:
selected_feat= X_train.columns[(feature_selection.get_support())]
len(selected_feat)

25

In [50]:
selected_feat

Index([                             'weeks_worked_in_year',
                               'business_or_self_employed',
                                                     'age',
                                    'dividend_from_Stocks',
                                           'wage_per_hour',
                                          'capital_losses',
                              'num_person_Worked_employer',
                                           'capital_gains',
                                              'Unnamed: 0',
                                                 'Private',
                                               'education',
                                   'major_occupation_code',
                                     'major_industry_code',
                                          'country_father',
                                          'country_mother',
                                 'd_household_family_stat',
                                           'industry_code',
                                         'occupation_code',
                                                         0,
          'marital_status_Married-civilian spouse present',
                                                'sex_Male',
                   'member_of_labor_union_Not in universe',
                    'tax_filer_status_Joint both under 65',
       'full_parttime_employment_stat_Full-time schedules',
                         'd_household_summary_Householder'],
      dtype='object')

In [52]:
model=RandomForestClassifier()

In [116]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [117]:
y_pred=model.predict(X_test)

In [57]:
from sklearn.metrics import accuracy_score

In [118]:
accuracy_score(y_pred,y_test)

0.9530046611089764

In [ ]:
0.9518352072439313

In [39]:
X= df_pre_processed.drop(['income_level'],axis=1)

In [42]:
y=df_pre_processed['income_level']

In [32]:
df_pre_processed.columns.get_loc("income_level")

10

In [43]:
y.head()

0   -50000
1   -50000
2   -50000
3   -50000
4   -50000
Name: income_level, dtype: int64

In [12]:
predicting_features=df_pre_processed[['weeks_worked_in_year','business_or_self_employed','age',
                                    'dividend_from_Stocks',
                                           'wage_per_hour',
                                          'capital_losses',
                              'num_person_Worked_employer',
                                           'capital_gains',
                                              'Unnamed: 0',
                                                 'Private',
                                               'education',
                                   'major_occupation_code',
                                     'major_industry_code',
                                          'country_father',
                                          'country_mother',
                                 'd_household_family_stat',
                                           'industry_code',
                                         'occupation_code',
                                                         0,
          'marital_status_Married-civilian spouse present',
                                                'sex_Male',
                   'member_of_labor_union_Not in universe',
                    'tax_filer_status_Joint both under 65',
       'full_parttime_employment_stat_Full-time schedules',
                         'd_household_summary_Householder']]

Only with 5 features

In [103]:
X1=predicting_features.iloc[:,0:6]

In [89]:
X1.shape

(199523, 6)

In [90]:
y1=df_pre_processed['income_level']

In [91]:
y1.shape

(199523,)

In [104]:
X1_train,X1_test,y1_train,y1_test=train_test_split(X1,y1,test_size=0.3)

In [105]:
model1=RandomForestClassifier()

In [106]:
model1.fit(X1_train,y1_train)

RandomForestClassifier()

In [107]:
y1_pred=model1.predict(X1_test)

In [108]:
accuracy_score(y1_pred,y1_test)

0.9369330237065004

In [102]:
X2=predicting_features.iloc[:,0:11]
y2=df_pre_processed['income_level']
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.3)
model1.fit(X2_train,y2_train)
y2_pred=model1.predict(X2_test)
accuracy_score(y2_pred,y2_test)

0.942379337420853

In [101]:
X3=predicting_features.iloc[:,0:16]
y3=df_pre_processed['income_level']
X3_train,X3_test,y3_train,y3_test=train_test_split(X3,y3,test_size=0.3)
model1.fit(X3_train,y3_train)
y3_pred=model1.predict(X3_test)
accuracy_score(y3_pred,y3_test)

0.9478590641027783

In [109]:
X4=predicting_features.iloc[:,0:21]
y4=df_pre_processed['income_level']
X4_train,X4_test,y4_train,y4_test=train_test_split(X4,y4,test_size=0.3)
model1.fit(X4_train,y4_train)
y4_pred=model1.predict(X4_test)
accuracy_score(y4_pred,y4_test)

0.9510165895383998

In [110]:
X5=predicting_features.iloc[:,0:26]
y5=df_pre_processed['income_level']
X5_train,X5_test,y5_train,y5_test=train_test_split(X5,y5,test_size=0.3)
model1.fit(X5_train,y5_train)
y5_pred=model1.predict(X5_test)
accuracy_score(y5_pred,y5_test)

0.9518352072439313

In [4]:
import pandas as pd
cleaned_income_data=pd.read_excel(r'C:\Users\mural\Desktop\Jaivinayaka\misslenious\income_data.xlsx',index_col=0)
# cleaned_income_data.head()

In [6]:
df_pre_processed=pd.concat([df_int_columns,df_pre_process],axis=1)

In [7]:
df_pre_processed.head()

,weeks_worked_in_year,business_or_self_employed,age,dividend_from_Stocks,year,wage_per_hour,capital_losses,num_person_Worked_employer,capital_gains,veterans_benefits,...,family_members_under_18_Father only present,family_members_under_18_Mother only present,family_members_under_18_Neither parent present,family_members_under_18_Not in universe,citizenship_Foreign born- U S citizen by naturalization,citizenship_Native- Born abroad of American Parent(s),citizenship_Native- Born in Puerto Rico or U S Outlying,citizenship_Native- Born in the United States,fill_questionnaire_veteran_admin_Not in universe,fill_questionnaire_veteran_admin_Yes
0,0,0,73,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,1,1,0
1,52,0,58,0,94,0,0,1,0,2,...,0,0,0,1,0,0,0,1,1,0
2,0,0,18,0,95,0,0,0,0,2,...,0,0,0,1,0,0,0,0,1,0
3,0,0,9,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,10,0,94,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0

XGBoost Classifier

In [129]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.2.1-py3-none-win_amd64.whl (86.5 MB)
Requirement already satisfied: numpy in c:\users\mural\anaconda3\lib\site-packages (from xgboost) (1.18.5)
Requirement already satisfied: scipy in c:\users\mural\anaconda3\lib\site-packages (from xgboost) (1.5.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.2.1
Note: you may need to restart the kernel to use updated packages.

In [130]:

from xgboost import XGBClassifier

In [133]:
Xg1=predicting_features.iloc[:,0:6]
yg1=df_pre_processed['income_level']
X1_train,X1_test,y1_train,y1_test=train_test_split(Xg1,yg1,test_size=0.3)
model1=XGBClassifier()
model1.fit(X1_train,y1_train)
y1_pred=model1.predict(X1_test)
accuracy_score(y1_pred,y1_test)

0.9412767094909534

In [136]:
Xg2=predicting_features.iloc[:,0:11]
yg2=df_pre_processed['income_level']
X2_train,X2_test,y2_train,y2_test=train_test_split(Xg2,yg2,test_size=0.3)
model2=XGBClassifier()
model2.fit(X2_train,y2_train)
y2_pred=model2.predict(X2_test)
accuracy_score(y2_pred,y2_test)

0.949061930935396

In [137]:
Xg3=predicting_features.iloc[:,0:16]
yg3=df_pre_processed['income_level']
X3_train,X3_test,y3_train,y3_test=train_test_split(Xg3,yg3,test_size=0.3)
model3=XGBClassifier()
model3.fit(X3_train,y3_train)
y3_pred=model3.predict(X3_test)
accuracy_score(y3_pred,y3_test)

0.9515010775682042

In [138]:
Xg4=predicting_features.iloc[:,0:21]
yg4=df_pre_processed['income_level']
X4_train,X4_test,y4_train,y4_test=train_test_split(Xg4,yg4,test_size=0.3)
model4=XGBClassifier()
model4.fit(X4_train,y4_train)
y4_pred=model4.predict(X4_test)
accuracy_score(y4_pred,y4_test)

0.953873398265867

In [139]:
Xg5=predicting_features.iloc[:,0:26]
yg5=df_pre_processed['income_level']
X5_train,X5_test,y5_train,y5_test=train_test_split(Xg5,yg5,test_size=0.3)
model5=XGBClassifier()
model5.fit(X5_train,y5_train)
y5_pred=model5.predict(X5_test)
accuracy_score(y5_pred,y5_test)

0.9538399852982943

In [16]:
model1=RandomForestClassifier()

In [24]:
X2=predicting_features.iloc[:,0:26]
y2=df_pre_processed['income_level']
X2_train,X2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.3)
model1.fit(X2_train,y2_train)
y2_pred=model1.predict(X2_test)
roc_auc_score(y2_pred,y2_test)

0.8253752637081931

In [18]:
from sklearn.metrics import roc_auc_score